
{% set NAME_INSTANCE_TEMPLATE = env["deployment"] + "-thumbor-server-it" %}


resources:
  - name: {{ NAME_INSTANCE_TEMPLATE }}
    type: container_instance_template.jinja
    properties:
      machineType: {{ properties['serverMachineType'] }}
      port: 80
      dockerEnv:
         DETECTORS: '[''''thumbor.detectors.face_detector'''',''''thumbor.detectors.feature_detector'''']'
         OPTIMIZERS: '[''''thumbor.optimizers.jpegtran'''']'
         LOADER: thumbor_cloud_storage.loaders.cloud_storage_loader
         CLOUD_STORAGE_BUCKET_ID: assets-thumbor-play
         CLOUD_STORAGE_PROJECT_ID: thumborplay
         STORAGE_EXPIRATION_SECONDS: 300
         UPLOAD_ENABLED: False
         RESULT_STORAGE_EXPIRATION_SECONDS: 300
         RESULT_STORAGE_STORES_UNSAFE: True
      dockerImage: minimalcompact/thumbor
      containerImage: family/cos-stable