
{% set NAME_STORAGE_BUCKET = env["deployment"] + "-assets" + "-" + env["project_number"] %}
{% set NAME_INSTANCE_TEMPLATE = env["deployment"] + "-thumbor-server-it" %}
{% set NAME_HEALTH_CHECK = env["deployment"] + "-thumbor-server-hc" %}
{% set NAME_INSTANCE_GROUP_MANAGER = env["deployment"] + "-thumbor-server-igm" %}


resources:
  - name: {{ NAME_STORAGE_BUCKET }}
    type: storage_bucket_template.jinja
    properties:
      region: {{ properties['region'] }}

  - name: {{ NAME_INSTANCE_TEMPLATE }}
    type: container_instance_template.jinja
    properties:
      machineType: {{ properties['serverMachineType'] }}
      port: 80
      dockerEnv:
         DETECTORS: '[''''thumbor.detectors.face_detector'''',''''thumbor.detectors.feature_detector'''']'
         OPTIMIZERS: '[''''thumbor.optimizers.jpegtran'''']'
         LOADER: thumbor_cloud_storage.loaders.cloud_storage_loader
         CLOUD_STORAGE_BUCKET_ID: {{ NAME_STORAGE_BUCKET }}
         CLOUD_STORAGE_PROJECT_ID: {{  env["project"] }}
         STORAGE_EXPIRATION_SECONDS: 300
         UPLOAD_ENABLED: False
         RESULT_STORAGE_EXPIRATION_SECONDS: 300
         RESULT_STORAGE_STORES_UNSAFE: True
      dockerImage: minimalcompact/thumbor
      containerImage: family/cos-stable


  - name: {{ NAME_HEALTH_CHECK }}
    type: compute.v1.healthCheck
    properties:
      checkIntervalSec: 10
      timeoutSec: 5
      unhealthyThreshold: 3
      healthyThreshold: 2
      type: TCP
      tcpHealthCheck:
        port: 80

  - name: {{ NAME_INSTANCE_GROUP_MANAGER }}
    type: compute.v1.instanceGroupManager
    properties:
      zone: {{ properties["region"]  + '-a'}}
      targetSize: 1
      baseInstanceName: {{ NAME_INSTANCE_GROUP_MANAGER }}
      instanceTemplate: $(ref.{{ NAME_INSTANCE_TEMPLATE }}.selfLink)
      autoHealingPolicies:
      - initialDelaySec: 300
        healthCheck: $(ref.{{ NAME_HEALTH_CHECK }}.selfLink)
           
        