{#
Adapted from https://cloud.google.com/deployment-manager/docs/create-advanced-http-load-balanced-deployment
#}

{% macro GenerateManifest(name, port, dockerImage, dockerEnv) -%}
{# Generates a Container Manifest given a Template context.

   Args:
     context: Template context, which must contain dockerImage and port
        properties, and an optional dockerEnv property.

   Returns:
     A Container Manifest as a YAML string.
-#}
apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
spec:
  containers:
  - name: {{ name }}
    image: {{ dockerImage }}
    ports:
    - hostPort: {{ port }}
      containerPort: {{ port }}
    {% if dockerEnv -%}
    env:
    {% for key, value in dockerEnv.iteritems() -%}
    - name: {{ key }}
      value: '{{ value }}'
    {% endfor -%}
    {% endif -%}
{%- endmacro -%}